React/node_modules/**/*
React/.expo/*
React/npm-debug.*
React/*.jks
React/*.p8
React/*.p12
React/*.key
React/*.mobileprovision
React/*.orig.*
React/web-build/

android/*.iml
android/.gradle
android//local.properties
android//.idea/caches
android//.idea/libraries
android//.idea/modules.xml
android//.idea/workspace.xml
android//.idea/navEditor.xml
android//.idea/assetWizardSettings.xml
.DS_Store
android//build
android//captures
android/.externalNativeBuild
android/.cxx
android/local.properties

# macOS
.DS_Store
